* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: var(--font-pp-editorial);
  /* background-color: #ecebec; */
}

/* p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 1em;
} */

span {
  color:black;
  display: block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 2em;
}

.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ecebec;
  /* line-height: 110%; */
}

.hero, .about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.hero .header {
  width: 50%;
  text-align: center;
}

/* .about-img {
  height: max-content;
  padding: 5em 2em;
}

.about-img img {
  width: 20%;
  aspect-ratio: 4/5;
}

.about, .philosophy {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.philosophy {
  background-color: #202020;
}

.philosophy h1,
.philosophy span {
  text-indent: 25%;
}

.story {
  height: max-content;
  display: flex;
  gap: 1em;
  margin-bottom: 8em;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
  padding: 5em 2em 1.5em 2em;
}

footer .col {
  display: flex;
  justify-content: flex-end;
}

footer .sub-col {
  display: flex;
  align-items: flex-end;
}

.line {
  transform: translateY(100%);
  will-change: transform;
} */