* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: var(--font-pp-editorial);
  overflow-x: hidden;
  /* background-color: #ecebec; */
}

span {
  color:black;
  display: block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 2em;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: white;
  /* background-color: #ecebec; */
}

.hero, .about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.hero .header {
  width: 50%;
  text-align: center;
}