* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: var(--font-pp-editorial);
  overflow-x: hidden;
  /* background-color: #ecebec; */
}

span {
  color:black;
  display: block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 4em;
  /* padding: 2em; */
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; 
  pointer-events: auto;
  mix-blend-mode: normal; 
}

.nav-link {
  display: flex;
  gap: 1.5rem;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.hero, .about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.hero .header {
  width: 50%;
  text-align: center;
}