.container {
  width: 100%;
  height: 100vh;
  background-color: #ecebec;
  line-height: 110%;
}

.nav {
  position: fixed;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.producthero {
  position: absolute;
  bottom: 15vh;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.producthero p {
  font-size: 40px;
  width: 70%;
  margin-bottom: 2em;
  line-height: 100%;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.producttitle h1 {
  font-weight: 400;
  font-size: 100px;
  padding: 0.4em 0;
}

.producttitle {
  font-size: 30px
}

.producttitle span {
  text-decoration: underline;
}

.productlook img {
  width: 600px;
}

@media(max-width: 900px) {
  .producthero p {
    font-size: 20px;
    width: 100%;
  }

  .producttitle h1 {
    font-size: 40px;
    padding: 0;
  }
  
  .producttitle {
    font-size: 16px;
    padding: 0;
  }

  .productlook img {
    width: 50vw;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0;
}

.productinfo {
  position: absolute;
  background: #ecebec;
  bottom: 0;  
  width: 100%;  
  padding: 1em; 
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productnav, .productcart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productnav > * {
  margin: 0 1em;
}

.productimg {
  width: 100px;
}

.productimg img {
  width: 100%;
}

.productname {
  font-size: 24px;
}

.productname span{
  font-size: 12px;
}

.productvariants {
  background: #fff;
  padding: 0.5em 1em;
  border-radius: 40px;
  font-size: 14px;
}

.productnavlinks {
  margin: 0 4em;
}

.productnavlinks > button {
  background: none;
  border: none;
  outline: none;
  margin: 0 1em;
  cursor: pointer;
}

.productbtn button {
  border: none;
  outline: none;
  background: #000;
  color: #fff;
  padding: 1.4em 2.8em;
  border-radius: 40px;
  margin-left: 2em;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .productname,
  .productimg,
  .productvariants,
  .productnavlinks > button:nth-child(2){
    display: none;
  }

  .productnavlinks {
    margin: 0;
  }
}

.productdescription {
  position: fixed;
  width: 100%;
  height: 50vh;
  bottom: -50vh;
  background: #ecebec;
  border-top: 1px solid #000;
  padding-bottom: 15vh;
  display: flex;
}

.closedesc {
  padding: 2em;
  cursor: pointer;
}

.desc {
  flex: 1;
  padding: 2em;
}

.link {
  margin: 2em 0;
}

.link span::after {
  position: relative;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background: #000;
}

.frontview,
.sideview {
  flex: 2;
}

.view {
  padding: 2em 4em;
}

.productdescription img {
  width: 400px;
}

.sketchtitle {
  font-weight: 500;
}

@media (max-width: 900px) {
  .frontview,
  .sideview {
    display: none;
  }
}