:root {
  --circle-outline: #505050;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.counter {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--circle-outline);
  padding: 2rem 4rem;
  font-size: 1rem;
  font-weight: lighter;
  z-index: 10000;
}