/* LOADER */
:root {
  --circle-outline: #505050;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.counter {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--circle-outline);
  padding: 2rem 4rem;
  font-size: 40px;
  font-weight: lighter;
  z-index: 10000;
}

.siteteaser span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem 4rem;
  color: var(--circle-outline);
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
}

.circles {
  position: absolute;
  left: 5rem;
  bottom: 5rem;
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: 1px solid var(--circle-outline);
  border-radius: 100%;
}

.circleinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
}

.circleinnerrotator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  width: 162.5px;
  height: 162.5px;
  background: none;
  border: 1px solid var(--circle-outline);
  border-radius: 100%;
}

.block {
  position: absolute;
  top: -100px;
  left: 200px;
  width: 0px;
  height: 0px;
  display: none;
  background: none;
  border: 1px solid var(--circle-outline);
  transform-origin: bottom;
}

/* OLD PAGE */

.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ecebec;
  line-height: 110%;
}

/* .producthero {
  position: absolute;
  bottom: 15vh;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.producthero p {
  font-size: 40px;
  width: 70%;
  margin-bottom: 2em;
  line-height: 100%;
}

.productheader{
  width: 100%;
}

@media(max-width: 900px) {
  .producthero p {
    font-size: 20px;
    width: 100%;
  }
}  */